<div class="container nav-container">
	<div class="col-md-12 col-xs-12">
        <div class="container">
            <div class="navbar-header col-md-4 col-xs-4" style="padding-left: 0px;">
                <a class="navbar-brand" href="#home" style="height:auto;padding:0px;"><img ng-src="img/logo.png" class="img-responsive" alt=""/></a>
            </div>
            <div class="col-md-8" style="padding-top:60px;">
            	<div class="col-md-2 btn btn-menu-primary"><a href="#/" style="height:auto;padding:0px;color:#CBFFFF;text-decoration: none;">HOME</a></div>
                <div class="col-md-3 btn btn-menu-primary"><a href="#driverlist" style="height:auto;padding:0px;color:#CBFFFF;text-decoration: none;">DRIVER REGISTRATION</a></div>
                <div class="col-md-3 btn btn-menu-primary"><a  href="#bookingrequest" style="height:auto;padding:0px;color:#CBFFFF;text-decoration: none;">BOOKING REQUEST</a></div>
                <div class="col-md-3 btn btn-menu-primary"><a  href="#reports" style="height:auto;padding:0px;color:#CBFFFF;text-decoration: none;">REPORTS</a></div>
            </div>
        </div>
	</div>
</div>

  