.cover-section img {
    width: 100%;
}

.small-cover-pic {
    padding-right: 2px;
}

.square, .square .btn {
    border-radius: 0px;
    display: block;
}

/* -- color classes -- */
.coralbg {
    background-color: #f7f7f7;
}

.coral {
    color: #f7f7f7;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
    z-index: 10;
    background-color: #fff;
    /*margin-top: 20px;*/
    background-clip: padding-box;
    /*opacity: 0.97;
    filter: alpha(opacity=97);*/
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}



/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 20px;
    background-color: #f7f7f7;
    color: #000000;
    font-weight: lighter;
    border-color: #fff;
}

div.user-menu-container .btn-group-vertical p {
    margin: 0px;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #692668;
    box-shadow: none;
    color: white;
}

.sidebar-nav {
    padding-left: 0px;
    padding-right: 0px;
}

#side-menu.nav>li>a {
    border-bottom: dashed 1px;
    border-color: #cdcdcc;
}

#side-menu.nav>li>a.active {
    background: #692668;
    box-shadow: none;
    color: white;
}

#side-secondary-menu>li {
    background: #FFFFFF;
}

#side-secondary-menu>li>a {
    margin-left: 20px;
    padding-left: 0px;
    border-bottom: dashed 1px;
    border-color: #f0f0ef;
}

#side-secondary-menu>li>a.active, #side-secondary-menu>li>a:hover {
    font-weight: bold;
    background: none;
}

div.btn-group-vertical>a.btn {
    text-align: left;
}

/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #692668;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
    display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */
#user-more {
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 16px;
    background: #692668;
}

#user-more .fa {
    color: #ffffff;
}

#user-profile {
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #692668;
}

#btn-user-profile {
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #692668;
}

#btn-user-profile h4 {
    font-weight: 300;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#user-profile h3 {
    font-weight: 300;
    color: #ffffff;
    margin-top: 5px;
}

#user-profile h4 {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 5px;
}

.user-pad {
    /*padding: 0px 16px;*/
    /*margin-bottom: 38px;*/
    background: #f7f7f7;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.175);
    box-shadow: 0 1px 1px rgba(0,0,0,.175);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.175);
    background-clip: padding-box;
    min-height: 400px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.no-left-pad {
    padding-left: 0px;
}

.no-right-pad {
    padding-right: 0px;
}

.user-details {
    background: #eee;
}

.user-image {
    max-height: 300px;
    overflow:hidden;
}

.biothumb .overlay {
    position: absolute;
    width: 100%;
    color: #fff;
    bottom: 0;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}

.biothumb .overlay > ul {
    margin-bottom: 0px;
}

.biothumb .overlay a {
    text-decoration: none;
    color: #ffffff;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.overlay
{
    position: absolute;
    color: #fff;
    opacity: 0.5;
    padding: 10px;
}

.overlay > ul {
    margin-bottom: 0px;
}

.overlay a {
    text-decoration: none;
    color: #ffffff;
}

.overlay input {
    width:100%;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.nav-square, .btn {
    border-radius: 30px;
}

.profile-right-section, .reco-section{
    background: #f7f7f7;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.profile-right-section h5, .reco-section h5 {
    color : #ebb55f;
}

.profile-right-section .times-ago {
    background: #afafaf;
}
.profile-right-section .times-ago h5 {
    color : #ffffff;

}

.profile-right-section .padding-top-bottom-10 {
    padding: 10px 0px;
}

.profile-right-section .zero-padding-left-right {
    padding-left: 0px;
    padding-right: 0px;
}

/* rectangular rating styles */
.profile-right-section .ratingStyle span{
    color : #ccc; !important;
    padding-left: 2px;
    padding-right: 2px;
}

.profile-right-section .ratingStyle span .active {
    color:#2f9673; !important;
}

[duo-stars],duo-stars
.active {color:#2f9673}

.profile-right-section .rating-back {
    background: #f2f2f2;
    box-shadow: 0px 0px 1px 0px #949393 ;
}

.profile-right-section .commentStyle {
    padding-top: 20px;
    padding-left: 0px;
}
.profile-right-section .commentStyle .glyphicon{
    color : #4cb1ca;
}

.profile-right-section .commentStyle p {
    padding-bottom: 5px;
}

.profile-right-section .rewoiceStyle {
    padding-top: 20px;
}

.profile-right-section .rewoiceStyle .fa {
    color : #4cb1ca;
}

.profile-right-section .rewoiceStyle p {
    padding-bottom: 10px;
}


/* rectangular rating styles end*/

/* -- media query for mobiles-- */
@media (max-width: 767px) {

    .cover-section {
    margin-bottom: 4px;
    padding:5px;
    }

    div.user-menu-container .thumbnail {
    width:100%;
    border: 0px!important;
    padding: 0px;
    border-radius: 0;
    border: 0px!important;
    margin-bottom: 0px;
    }
    .small-cover-pic-top {
    overflow: hidden;
    }
    .small-cover-pic-bottom {
    padding-top: 3px;
    overflow: hidden;
    }
    .large-cover-pic {
    padding-left: 2px;
    overflow: hidden;
    }
    .user-details
    {
        padding-left:4px;
        padding-right:4px;
    }
    .user-pad-profile {
    padding: 0px 16px;
    background: #f7f7f7;
    padding-bottom: 10px;
    background-clip: padding-box;
    }
    .user-pad-profile h3,h4{
    font-size:14px;
    }
    .top-margin {
    margin-top: 5px;
    padding: 0px;
    }
}


/* -- media query for desktops-- */
@media (min-width: 767px) {
    .cover-section {
    margin-bottom: 4px;
    padding:0px;
    }

    div.user-menu-container .thumbnail {
    width:100%;
    min-height:220px;
    border: 0px!important;
    padding: 0px;
    border-radius: 0;
    border: 0px!important;
    margin-bottom: 0px;
    background-color: transparent;
    }
    .small-cover-pic-top {
    height: 220px;
    overflow: hidden;
    }
    .small-cover-pic-bottom {
    padding-top: 4px;
    height: 220px;
    overflow: hidden;
    }
    .large-cover-pic {
    padding-left: 2px;
    height: 440px;
    overflow: hidden;
    }
    .user-pad-profile {
        padding: 0px 25px;
        background: #f7f7f7;
        padding-bottom: 10px;
        background-clip: padding-box;
        min-height: 142px;
    }
    .top-margin {
    margin-top: 15px;
    padding: 0px;
    }
}