<!-- Main component for a primary marketing message or call to action -->
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="30000" style="background-color:#FFFFFF">

    <!-- Wrapper for slides -->
    <div class="jumbotron home-jumbotron"
         ng-show="caption" id="no-border-round" ng-controller="HomeController" style="padding:10px 30px 10px 40px;background-color:#FFFFFF;border: 1px solid #CFCFCE;margin-bottom:4px;">
        <div class="carousel-inner"
             ng-intro-options="IntroOptions" ng-intro-method="CallMe"
             ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
             ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
             ng-intro-autostart="false">
             
            <!-- To be shown if not logged in -->
            <div class="col-md-12" ng-hide="loggedIn" style="padding:0px;">

                <div class="col-md-4" >
                <a href="#profile/{{userId}}" style="text-decoration:none;"><h1 style="font-size:22px;margin-bottom:10px;margin-top:10px;background-color:#FFFFFF;" id="step1" data-target="#step1" data-toggle="tab" data-slide-to="0">{{LandingCaptions[0].description}}</h1></a>
                <p style="text-align: justify;word-break: break-all;font-size:15px;">
                    <img src="img/mysite.jpg" class="description-img" width="150" height="90" style="border: 2px solid #FFFFFF;"/>
                    {{LandingCaptions[3].description}}</p>
                </div>

                <div class="col-md-4" >
                <a href="#evezplace" style="text-decoration:none;"><h1 style="font-size:22px;margin-bottom:10px;margin-top:10px;background-color:#FFFFFF" id="step2" data-target="#step2" data-toggle="tab" data-slide-to="1">{{LandingCaptions[1].description}}</h1></a>
                <p style="text-align: justify;word-break: break-all;font-size:15px;">
                    <img src="img/market_place.jpg" class="description-img" width="150" height="80" style="border: 2px solid #FFFFFF;"/>
                    {{LandingCaptions[4].description}}</p>
                </div>

                <div class="col-md-4" >
                <a href="#wopportunity" style="text-decoration:none;"><h1 style="font-size:22px;margin-bottom:10px;margin-top:10px;background-color:#FFFFFF" id="step3" data-target="#step3" data-toggle="tab" data-slide-to="2">{{LandingCaptions[2].description}}</h1></a>
                <p style="text-align: justify;word-break: break-all;font-size:15px;">
                    <img src="img/jobs.jpg" class="description-img" width="150" height="90" style="border: 2px solid #FFFFFF;"/>
                    {{LandingCaptions[5].description}}</p>
                </div>

                <div class="col-md-12">
                    <div class="col-md-8 zero-left-padding">
                        <!-- <p id="eye-buy"><i>Explore Evezown.com. Make it your own place!</i></p> -->
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-lg btn-primary pull-right" ng-click="CallMe();" style="margin-top:10px;">{{LandingCaptions[6].description}}</button>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-lg btn-primary pull-right" href="#requestinvite" role="button" style="margin-top:10px;"> {{LandingCaptions[7].description}} &raquo;</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12" ng-if="loggedIn">
                <h1>Evezown</h1>
                <p style="text-align:justify;word-break: break-all;">Good to see you, Go ahead create your own place, create your site, build your closed private community, use our single window to create stores, Ads & Campaigns, promote your stores and business through host of promotional features we offer.</p>

                <div class="request-invite">
                    <div class="col-md-8 zero-left-padding">
                        <p id="eye-buy"><a href="#profile/{{userId}}/personalinfo" style="text-decoration:none;"><i>Complete your profile now.</i></a></p>
                    </div>
                    <div class="col-md-4" ng-hide="loggedIn">
                        <a class="btn btn-lg btn-primary pull-right" href="#requestinvite" role="button">Create Signup Invite &raquo;</a>
                    </div>
                    <div class="col-md-4" ng-show="loggedIn" style="margin-top: 40px">
                        <a class="btn btn-lg btn-primary pull-right" href="#profile/{{userId}}/personalinfo" role="button">Complete
                            your profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Carousel Inner -->
    <!-- <div class="middle-navbar custom-middle-navbar" ng-controller="ApplicationCtrl">
        <div class="btn-group btn-group-justified zero-left-padding" role="group" aria-label="Justified button group">
            <ul class="nav nav-pills nav-justified">
                <li id="step1" data-target="#myCarousel" data-toggle="tab" data-slide-to="0" class="active">
                    <a ng-hide="loggedIn" data-target="#myCarousel" class="active btn btn-link nounderline"
                       role="button">
                        <h4>Evezown</h4>

                        <p>Own your place</p>
                    </a>
                    <a ng-show="loggedIn" href="#streamit" data-target="#myCarousel"
                       class="active btn btn-link nounderline" role="button">
                        <h4>Evezown</h4>

                        <p>Own your place</p>
                    </a>
                </li>
                <li id="step2" data-target="#myCarousel" data-slide-to="1">
                    <a href="#evezplace" data-target="#myCarousel" data-toggle="tab" class="btn btn-link" role="button">
                        <h4>EvezPlace</h4>

                        <p>products and services stores</p>
                    </a>
                </li>
                <li id="step3" data-target="#myCarousel" data-slide-to="2">
                    <a href="#wopportunity" data-target="#myCarousel" data-toggle="tab" class="btn btn-link"
                       role="button">
                        <h4>Jobs</h4>

                        <p>careers and Ads & Campaigns</p>
                    </a>
                </li>

            </ul>
        </div>
    </div> -->
</div>
<!-- End Carousel -->
<div class="col-md-12" ng-include src='"partials/home/homeproductmenu.html"' ng-controller="HomeProductMenuController"></div>

<div class="container home-sale-section custom-home-sale-section">
    <div class="row">
        <div class="col-md-3">
            <div class="living_box">
                <a href>
                    <img ng-src="img/custom_images/hwf/evezown_health4.jpg" class="img-responsive" alt=""/>
                    <span class="sale-box">

                   <span class="sale-label">Health & Fitness</span>
                    </span>
                </a>
            </div>

        </div>

        <div class="col-md-3">
            <div class="living_box"><a href>
                <img ng-src="img/custom_images/food&nutrition/evezown_food&nutrition1.JPG" class="img-responsive" alt=""/>
                <span class="sale-box">
                  <span class="sale-label">Food&Nutrition</span>
                </span>
            </a>

            </div>

        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img ng-src="img/custom_images/WomenShopping/evezown_women4.jpg" class="img-responsive" alt=""/>
                <span class="sale-box">
                  <span class="sale-label">Lifestyle</span>
                </span>
            </a>

            </div>

        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img ng-src="img/product/sale_img4.jpg" class="img-responsive" alt=""/>
                <span class="sale-box">
                  <span class="sale-label">beauty&fashion</span>
                </span>
            </a>

                <!--<div class="living_desc desc1">-->
                <!--<h3><a href="#">aliquam volutp</a></h3>-->

                <!--<p>Lorem ipsum consectetuer adipiscing </p>-->

                <!--<p class="price pr_box">$150</p>-->

                <!--<div class="clearfix"></div>-->
                <!--</div>-->
            </div>

        </div>

    </div>
</div>
<div class="container trending-whatsnew-section">

    <div class="row trending-section">
        <h3 class="trending-whatsnew-title">What's new</h3>

        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/hwf/evezown_health1.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Yoga</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/beauty&fashion/evezown_buty1.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Education</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/hwf/evezown_travel3.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Travel</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/hwf/evezown_childcare.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Child Care</span>
                </span>
            </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 whatsnew-section">
        <h3 class="trending-whatsnew-title">Trending this month</h3>

        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/WomenShopping/evezown_women3.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Gifts</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/beauty&fashion/evezown_buty2.JPG" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Styling</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/hwf/evezown_health3.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Sports</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/product/whatsnew_img4.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Hair Care</span>
                </span>
            </a>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-include src='"partials/video_interview_partial.html"'>

</div><!--.container-->

