<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <br>
                <div class="form-wall col-md-12">
                    <div class="col-md-12 text-center"><span class="glyphicon glyphicon-ok-circle" style="color:green;font-size:64px;"></span></div>
                    <div class="col-md-12 text-center"><h4>Your password has been changed successfully</h4></div>
                    <div class="col-md-12 text-center"><a href="#login" style="text-decoration:none;">Login</a> into Evezown</div>
                </div>
            </div>
        </div>
</div>