<div class="container" ng-controller="ResetPassword">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <h1 class=" login-title">{{title}}</h1>
                <div class="form-wall" style="margin-bottom:0%">
                    <h4 class="form-invite text-center">Create your new password</h4>
                    <form class="form-invite"
                          ng-submit="reset(Newcredentials)">
                        <input type="password" class="form-control" ng-model="Newcredentials.password"  placeholder="New Password" required autofocus>
                        <ul class="pull-right" id="strength" check-strength="Newcredentials.password"></ul>
                        <input type="password" class="form-control" ng-model="Newcredentials.retypepassword"  placeholder="ReEnter Password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Save Changes
                        </button> 
                    </form>
                </div>
                <div class="col-md-12" style="margin-top:6%;margin-bottom:4%">
                    <b>Password Tips</b>
                    <li>Use at least 7 characters, a combination of numbers and letters is best.</li>
                    <li>A strong password is a combination of uppercase,lowercase,numbers and special characters.</li>
                    <li>Do not use dictionary words, your name, e-mail address, mobile phone number or other personal information that can be easily obtained.</li>
                    <li>Do not use the same password for multiple online accounts.</li>
                    </div>
            </div>
        </div>
</div>