<div class="container">
   <!--  <span us-spinner="{radius:6, width:2, length: 2,color: '#e50880'}" spinner-key="spinner-1" spinner-start-active="true">
    </span> -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-12 col-md-12 col-sm-12 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                	   <div class="col-md-12">
			                <h1>System Configuration</h1>
			                <p style="text-align:justify;word-break: break-all;">Under Construction</p>
			            </div>
				                    
                </div>
            </div>
        </div>
    </div>
</div>